{% extends 'attendance/index.html' %}
{% block addsubject %}
{% if user.is_authenticated %}
    <form action="{% url 'addsub' %}" method="post">
        {% csrf_token %}
        <input autofocus class="form-control submitbtn" type="text" name="subname" placeholder="Subject name">
        <input autofocus class="form-control submitbtn" type="text" name="initotal" placeholder="Total initial classes">
        <input autofocus class="form-control submitbtn" type="text" name="inipresent" placeholder="Total initial presence">
        <input class="submitbtn" type="submit" value="Add subject">
    </form>

{% endif %}
{% endblock addsubject %}