{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% if user.is_authenticated %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <body>
        <div class="card">
            <div class="heading">
                <img src="{% static 'assets/logo.png' %}" width="60px">&nbsp;
                <h1>OpenTrackr</h1>
            </div>
            <br>
            {% block addsubject %}
                <h1>You are logged in as {{ username }}</h1>
                <br>
                <div class="userops">
                    <a href="{% url 'logout' %}"><img src="{% static 'assets/logout.gif' %}" width="30px">Logout</a>
                    <a href="{% url 'addsub' %}"><img src="{% static 'assets/add.png' %}" width="30px">&nbsp;add a new subject</a>
                </div>
                <br>
                {% block editsubject %}
                {% endblock editsubject %}
                <div class="wrap-container">
                    {% for i in subjects %}
                        <div class="subject-card">
                            <h4>{{ i.sub_name }}<br><br>(You can leave the next {{ i.can_leave }} class/es)</h4>
                            <br>
                            <div class="subjectops">
                                <a href="{% url 'updateatt' id=i.id %}">Update</a>
                                &nbsp; &nbsp;
                                <a href="{% url 'delatt' id=i.id %}" style="color: rgb(255, 118, 118);">Delete</a>
                            </div>
                            <br>
                            <p>Total classes till now: {{ i.totalclasses }}</p>
                            <p>Attended till now: {{ i.present }}</p>
                            <p>Missed till now: {{ i.absent }}</p>
                            <p>Current Attendance Percentage: <strong>{{ i.att_perc }}%</strong></p>
                            <br>
                            <div class="mark-ops">
                                <a href="{% url 'incatt' id=i.id %}"><button class="submitbtn">Present</button></a>
                                <a href="{% url 'decatt' id=i.id %}"><button class="submitbtn">Absent</button></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endblock addsubject %}
        </div>
    </body>
{% else %}
    <div class="parent">
        <div class="main">
            <div class="card">
                <div class="heading">
                    <img src="{% static 'assets/logo.png' %}" width="60px">&nbsp;
                    <h1>OpenTrackr</h1>
                </div>
                <br>
                {% block content %}
                    <br>
                    <h1>Login</h1>
                    <br>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input autofocus class="form-control submitbtn" type="text" name="username" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control submitbtn" type="password" name="password" placeholder="Password" required>
                        </div>
                        <input class="submitbtn" type="submit" value="Login">
                    </form>
                    <br>
                    <div class="redirect">
                        <br>
                        Don't have an account? <a href="{% url 'signup' %}">SignUp here</a>
                        <br>
                    </div>
                    <br>
                {% endblock content %}
                <br>
            </div>
        </div>
    </div>
{% endif %}
