{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% if user.is_authenticated %}
  <h1>logged in as {{ username }}</h1>
  <a href="{% url 'logout' %}" style="color: red;">Logout</a>
  <br><br><br>
  <h2>My subjects:(<a href="{% url 'addsub' %}">Add a new subject</a>)</h2>
  {% for i in subjects %}
    <div style="height: 300px;width: 1000px;background-color:aqua;padding: 20px;border-radius: 30px;border: 5rem black;">
      <h4>{{ i.sub_name }} (You can leave the next {{ i.can_leave }} class/es)</h4>
      <a href="{% url 'updateatt' id=i.id %}">Update attendance details</a>
      <a href="{% url 'delatt' id=i.id %}" style="color: red;">Delete attendance</a>
      <p>Total classes till now: {{ i.totalclasses }}</p>
      <p>Attended till now: {{ i.present }}</p>
      <p>Missed till now: {{ i.absent }}</p>
      <p>Current Attendance Aercentage: <strong>{{ i.att_perc }}%</strong></p>
      <a href="{% url 'incatt' id=i.id %}"><button style="color: white;border-radius: 20px;background-color: green;border: black;width: 150px;height: 30px;font-size: 20px;">Present</button></a>
      <a href="{% url 'decatt' id=i.id %}"><button style="color: white;border-radius: 20px;background-color: red;border: black;width: 150px;height: 30px;font-size: 20px;">Absent</button></a>
    </div><br>
  {% endfor %}
  
{% else %}
 <div class="parent">
    <div class="main">
    <div class="card">
    <div class="heading">
      <img src="{% static 'assets/logo.png' %}" width="60px">&nbsp;
      <h1>OpenTrackr</h1>
    </div>
    <br>
    {% block content %}
    <h1>Login</h1>
    <br>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <input autofocus class="form-control" type="text" name="username" placeholder="Username" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="Password" required>
    </div>
    <input class="submitbtn" type="submit" value="Login">
</form>
<br>
<div class="redirect">
  Don't have an account? <a href="{% url 'signup' %}">SignUp here</a>
</div>
{% endblock content %}
</div>
</div>
</div>
{% endif %}