{% extends 'attendance/index.html' %}
{% block content %}
<h1>Signup</h1>
<br>
<form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control submitbtn" autofocus type="text" name="username" placeholder="Username" required>
    </div>
    <div class="form-group">
        <input class="form-control submitbtn" type="email" name="email" placeholder="Email Address" required>
    </div>
    <div class="form-group">
        <input class="form-control submitbtn" type="password" name="password" placeholder="Password" minlength="8" required>
    </div>
    <div class="form-group">
        <input class="form-control submitbtn" type="password" name="confirmation" placeholder="Confirm Password" required>
    </div>
    <input class="submitbtn" type="submit" value="Register">
</form>
<br>
<div class="redirect">
    Already have an account? <a href="{% url 'index' %}">Log In here.</a>
</div>
{% endblock content %}